<h1>Éditer une évaluation</h1>

<%= render "form", evaluation: @evaluation %>

<br>

<div>
  <% if current_user.is_super_admin %>
    <%= link_to "Back to evaluations", evaluations_path %>
  <% else %>
    <%= link_to "Back to dashboard", user_root_path %>
  <% end %>
</div>
