<div class="row">
  <h1>Editer une évaluation</h1>
</div>

<% if current_user.is_super_admin %>
  <%= link_to "Back to evaluations", evaluations_path, class: "btn rounded light pt-1 pb-1 pe-3 ps-3 btn-primary me-3" %>
  <% else %>
  <%= link_to "Retourner au dashboard", user_root_path, class: "btn rounded light pt-1 pb-1 pe-3 ps-3 btn-secondary" %>
<% end %>

<%= render "form", evaluation: @evaluation %>
