<div class="page-orga-new mt-5 mt-sm-0 pt-5 pt-sm-0">
  
  <header class="mr-3 mr-sm-5 ml-3 ml-sm-5 p-5">
    <h1>Nouvelle évaluation</h1>
  </header>

  <%= render "form", evaluation: @evaluation %>

  <br>

  <div>
    <%= link_to "Back to evaluations", evaluations_path %>
  </div>
</div>
