<h1><%= @evaluation %></h1>

<%= render "evaluation", evaluation: @evaluation %>

<%= button_to "Supprimer cette évaluation",
              @evaluation,
              method: :delete,
              class: "btn btn-danger",
              form: { data: { turbo_confirm: "Êtes-vous sûr de vouloir supprimer l'évaluation de #{@evaluation.annee}?" } } %>
