<div class="page-list">

    <header>
        <h1>Ces entreprises nous font confiance</h1>
    </header>

    <div>
        <span>Trier par :</span>

        <label for="alpha">Nom</label>
        <select class="custom-select custom-select-lg mb-3">
            <option value="alpha-croissant" selected>Croissant</option>
            <option value="alpha-decroissant">Décroissant</option>
        </select>

        <label for="date">Date d'ajout</label>
        <select class="custom-select custom-select-sm">
            <option value="date-croissant" selected>Croissant</option>
            <option value="date-decroissant">Décroissant</option>
        </select>

    </div>

    <div id="viewall">
        
        <a class="card">
            <div class="card-body">
                <span>Nom de l'entreprise</span>
                <span>Siret</span>
            </div>
        </a>

    </div>
</div>