.bool {
  & > div > div {
    display:flex;
    align-items:center;
    justify-content:center;
    font-family: $headings-font-family;
    text-align: center;
    i {
      top: -1.5rem;
      left: -0.5rem;
      font-size: 4rem;
    }
  }
}
