<% if evaluation.indicateurs_list[indicateur] %>
  <p class="bg-success position-relative text-white rounded shadow col-12 pt-3 pb-3 pe-4 ps-4 overflow-hidden d-flex flex-column m-sm-0 d-flex align-items-center justify-content-center text-center">
    <span class="opacity-25 position-absolute pe-none top-0 start-0 material-icons ms-n2 mt-n2">check_circle</span><%= indicateur_clean indicateur %>
  </p>
<% else %>
  <p class="rounded position-relative text-white bg-danger shadow col-12 pt-3 pb-3 pe-4 ps-4 overflow-hidden d-flex flex-column m-sm-0 d-flex align-items-center justify-content-center text-center">
    <span class="opacity-25 position-absolute pe-none top-0 start-0 material-icons ms-n2 mt-n2">cancel</span><%= negative_indicateur indicateur %>
  </p>
<% end %>
