<% if group.any? %>
  <div class="container">
    <div class="indic-row row">
      <% group.each do |indicateur| %>
        <% custom = {suffix: nil, max: nil} %>
        <% if indicateur.is_a? Array %>
          <% custom = indicateur[1] %>
          <% indicateur = indicateur[0] %>
        <% end %>
        <% if evaluation.indicateurs_list[indicateur].present? %>
          <div class="col mb-5">
            <%= render "single_taux_box", evaluation: evaluation, indicateur: indicateur, suffix: custom[:suffix], max: custom[:max] %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
