<div class="page-orga-new me-0 ms-0 me-sm-5 ms-sm-5 p-sm-5 mt-5 mt-sm-0 pt-5 pt-sm-0">

  <header class="mt-5 mt-sm-0 mb-5 m-3 m-sm-0">
    <h1>Inscrire une organisation</h1>
  </header>


  <% if current_user.organisation.nil? || current_user.is_super_admin %>
    <%= render "form", organisation: @organisation %>
  <% end %>
  <br>

  <div>
    <%= link_to "Back to organisations", organisations_path %>
  </div>

</div>