<div class="page-orga-new mr-0 ml-0 mr-sm-5 ml-sm-5 p-sm-5">

  <header class="mb-5">
    <h1>Inscrire une organisation</h1>
  </header>


  <% if current_user.organisation.nil? || current_user.is_super_admin %>
    <%= render "form", organisation: @organisation %>
  <% end %>
  <br>

  <div>
    <%= link_to "Back to organisations", organisations_path %>
  </div>

</div>