<div class="page-list mx-3 mx-sm-5 mx-bg-5 mt-5 pt-2">

    <header>
        <h1>Ces entreprises nous font confiance</h1>
    </header>

    <div id="viewall">

        <ul class="list-group mt-5">
            <% @organisations.each do |organisation| %>
                <li class="list-group-item rounded-sm border mb-5">
                    <b class="lead fw-bold"><%= organisation %></b>
                </li>
            <% end %>
        </ul>

    </div>

</div>
