<div class="page-list me-0 ms-0 me-sm-5 ms-sm-5 p-sm-5">

    <header>
        <h1>Ces entreprises nous font confiance</h1>
    </header>

    <div id="viewall">

        <ul class="list-group mt-5">
            <% @organisations.each do |organisation| %>
                <li class="list-group-item rounded-sm border mb-5">
                    <b class="lead font-weight-bold"><%= organisation %></b>
                </li>
            <% end %>
        </ul>

    </div>

</div>
