<p style="color: green"><%= notice %></p>

<h1 class="h2">Evaluations</h1>

<div id="evaluations">
  <% @evaluations.each do |evaluation| %>
    <%= render evaluation %>
    <p>
      <%= link_to "Show this evaluation", admin_evaluation %>
    </p>
  <% end %>
</div>

<%= link_to "New evaluation", admin_new_evaluation_path %>
