<div class="row">
    <h1>Nouvelle évaluation</h1>
</div>

  <% if current_user.is_super_admin? %>
    <div class="d-flex align-items-center justify-content-start me-3 me-sm-5 ms-3 ms-sm-5 pe-5 ps-5 pb-5">
      <%= link_to "Back to evaluations", evaluations_path, class: "btn rounded light pt-1 pb-1 pe-3 ps-3 btn-primary" %>
    </div>
  <% end %>

  <%= render "form", evaluation: @evaluation %>

  <br>

</div>
