$headings-margin-bottom: 2rem;
$font-family-sans-serif: 'Open Sans', sans-serif;
$headings-font-family: 'Alata', sans-serif;
$headings-margin-bottom: 3rem;

h2 {
  margin-top: 5rem;
  color: $primary
}
h3 {
  margin-top: 3rem;
}

blockquote {
  font-size: 2rem;
}
