<% if object.errors.any? %>
  <div id="error_explanation" class="alert alert-danger m-4">
     <%= I18n.t 'simple_form.error_notification.default_message' %>
    <ul class="m-0">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>