<div id="wrap">

    <header>
        <h1>Vers la citoyenneté économique</h1>
        <p class="lead">Issue du mouvement coopératif, la citoyenneté économique est née de la conviction que les entreprises doivent jouer un rôle majeur face aux défis sociétaux et environnementaux. Partage de l’information, transparence des décisions, délibération collective… autant de paramètres appliqués aux choix stratégiques de l’entreprise, à son bien-être et à celui de ses salariés, en accord avec l’intérêt général.</p>
    </header>

    <h2>4 catégories pour une cinquantaine d’indicateurs</h2>

    <section>
        <div class="row row-cols-1 row-cols-md-4">
            <a class="card bg-transparent border-0 mb-5" href="#">
                <div class="card-back rounded-lg bg-secondary ml-2 mt-2"></div>
                <div class="card-body rounded-lg bg-white text-dark">
                    <span class="text-secondary">1.</span>
                    <h4 class="card-title">Partage du <b class="text-secondary">pouvoir</b> et des <b class="text-secondary">décisions</b></h4>
                </div>
            </a>
            <a class="card bg-transparent border-0 ml-6 mb-5" href="#">
                <div class="card-back rounded-lg bg-primary ml-2 mt-2"></div>
                <div class="card-body rounded-lg bg-white text-dark">
                    <span class="text-primary">2.</span>
                    <h4 class="card-title"><b class="text-primary">Pérennité</b> économique et <b class="text-primary">partage</b> de la valeur créée</h4>
                </div>
            </a>
            <a class="card bg-transparent border-0 ml-3 mb-5 mr-3" href="#">
                <div class="card-back rounded-lg bg-secondary ml-2 mt-2"></div>
                <div class="card-body rounded-lg bg-white text-dark">
                    <span class="text-secondary">3.</span>
                    <h4 class="card-title">Capital <b class="text-secondary">humain</b> et Qualité de <b class="text-secondary">vie</b> au travail</h4>
                </div>
            </a>
            <a class="card bg-transparent border-0 mb-5" href="#">
                <div class="card-back rounded-lg bg-primary ml-2 mt-2"></div>
                <div class="card-body rounded-lg bg-white text-dark">
                    <span class="text-primary">4.</span>
                    <h4 class="card-title">Impact <b class="text-primary">environnemental</b>, <b class="text-primary">social</b> et <b class="text-primary">territorial</b></h4>
                </div>
            </a>
        </div>
    </section>

    <h2>Notre objectif : démocratiser l’entreprise démocratique.</h2>

    <section>
        <h3>« Pourquoi le salarié abandonnerait-il sa <b class="text-secondary">liberté</b> et sa <b class="text-secondary">citoyenneté</b> une fois franchi le seuil de l’entreprise ? »</h3>

        <p>Outils de progression, de suivi coopératif, mais aussi de communication, dans une démarche à la fois sociale et environnementale, ces indicateurs assurent une réflexion politique et pragmatique sur la citoyenneté dans et de l’entreprise. Notre plateforme démontre que ces enjeux sont aujourd’hui une réalité  et vise à influencer la réflexion au sein des entreprises et se pose en référentiel pour ces dernières.</p>

        <div class="row">
            <a class="card flex-grow-1 bg-transparent border-0 mb-5" href="#">
                <div class="card-back rounded-lg bg-primary ml-2 mt-2"></div>
                <div class="card-body rounded-lg bg-white text-dark">
                    <span class="text-primary">4.</span>
                    <div>
                        <h4 class="card-title">Impact <b class="text-primary">environnemental</b>.</h5>
                    <h4 class="card-title">Engagement <b class="text-primary">social</b>.</h4>
                    <h4 class="card-title mb-0">Protection de l'<b class="text-primary">écosystème</b> et du <b class="text-primary">territoire</b>.</h4>
                </div>
                </div>
            </a>
        </div>

    </section>

    <h2>Une visualisation simplifiée de vos ambitions</h2>

    <section class="d-flex">
        <div class="illustration mr-3">
            <%= image_tag 'illustration_home.svg', alt: 'logo de la citoyenneté économique' %>
        </div>

        <ul class="list-group ml-3">
            <li class="list-group-item d-flex bg-transparent border-0 align-items-center">
                <span class="bg-secondary"></span>
                <p class="m-0 ml-4">Un formulaire détaillé à destination des <b class="text-secondary">entreprises</b>.</p>
            </li>
            <li class="list-group-item d-flex bg-transparent border-0 align-items-center">
                <span class="bg-secondary"></span>
                <p class="m-0 ml-4">Une matérialisation claire et <b class="text-secondary">schématisée</b> de vos données.</p>
            </li>
            <li class="list-group-item d-flex bg-transparent border-0 align-items-center">
                <span class="bg-secondary"></span>
                <p class="m-0 ml-4">Une possibilité de <b class="text-secondary">suivre</b> vos progrès en les comparant à ceux des années précédentes.</p>
            </li>
        </ul>
    </section>
</div>

