<div id="wrap" class="home m-5 px-sm-5 py-5">

    <header class="w-75 mb-5">
        <h1 class="mb-5 landing-h1">Vers la citoyenneté économique</h1>
        <%# <h1 class="mb-5"></h1> %>
        <p class="lead">Issue du mouvement coopératif, la citoyenneté économique est née de la conviction que les entreprises doivent jouer un rôle majeur face aux défis sociétaux et environnementaux. Partage de l’information, transparence des décisions, délibération collective… autant de paramètres appliqués aux choix stratégiques de l’entreprise, à son bien-être et à celui de ses salariés, en accord avec l’intérêt général.</p>
    </header>

    <h2 class="mb-4 mb-md-5 mt-4 mt-md-5">4 catégories pour une cinquantaine d’indicateurs</h2>

    <section class="mt-2 mt-mb-5 pt-3">
        <div class="row row-cols-1 row-cols-md-4 m-0">
            <a class="card col-1 bg-transparent border-0 mb-4 mb-sm-5" href="#">
                <div class="card-back rounded-3 bg-secondary ms-2 mt-2"></div>
                <div class="card-body d-flex rounded-3 bg-white text-dark">
                    <span class="text-secondary d-flex">1.</span>
                    <h4 class="card-title">Partage du <b class="text-secondary">pouvoir</b> et des <b class="text-secondary">décisions</b></h4>
                </div>
            </a>
            <a class="card col-1 bg-transparent border-0 ms-6 mb-4 mb-sm-5" href="#">
                <div class="card-back rounded-3 bg-primary ms-2 mt-2"></div>
                <div class="card-body d-flex rounded-3 bg-white text-dark">
                    <span class="text-primary e d-flex">2.</span>
                    <h4 class="card-title"><b class="text-primary">Pérennité</b> économique et <b class="text-primary">partage</b> de la valeur créée</h4>
                </div>
            </a>
            <a class="card col-1 bg-transparent border-0 ms-md-3 mb-4 mb-sm-5 me-md-3 ms-sm-0" href="#">
                <div class="card-back rounded-3 bg-secondary ms-2 mt-2"></div>
                <div class="card-body d-flex rounded-3 bg-white text-dark">
                    <span class="text-secondary d-flex">3.</span>
                    <h4 class="card-title">Capital <b class="text-secondary">humain</b> et Qualité de <b class="text-secondary">vie</b> au travail</h4>
                </div>
            </a>
            <a class="card col-1 bg-transparent border-0 mb-5" href="#">
                <div class="card-back rounded-3 bg-primary ms-2 mt-2"></div>
                <div class="card-body d-flex rounded-3 bg-white text-dark">
                    <span class="text-primary d-flex">4.</span>
                    <h4 class="card-title">Impact <b class="text-primary">environnemental</b>, <b class="text-primary">social</b> et <b class="text-primary">territorial</b></h4>
                </div>
            </a>
        </div>
    </section>

    <h2 class="mb-4 mb-sm-5 mt-4 mt-sm-5">Notre objectif : démocratiser l’entreprise démocratique.</h2>

    <section class="mb-5 mb-sm-0">
        <h3>« Pourquoi le salarié abandonnerait-il sa <b class="text-secondary">liberté</b> et sa <b class="text-secondary">citoyenneté</b> une fois franchi le seuil de l’entreprise ? »</h3>

        <p class="mb-4 mb-sm-5 mt-4 mt-sm-5 w-75">Outils de progression, de suivi coopératif, mais aussi de communication, dans une démarche à la fois sociale et environnementale, ces indicateurs assurent une réflexion politique et pragmatique sur la citoyenneté dans et de l’entreprise. Notre plateforme démontre que ces enjeux sont aujourd’hui une réalité  et vise à influencer la réflexion au sein des entreprises et se pose en référentiel pour ces dernières.</p>

        <div class="row d-flex justify-content-center m-0">
            <a class="card flex-grow-1 bg-transparent border-0 mt-2 mt-sm-5 mb-0 mb-sm-5" href="#">
                <div class="card-back rounded-3 bg-primary ms-2 mt-2"></div>
                <div class="card-body d-flex rounded-3 bg-white text-dark">
                    <span class="text-primary d-none d-sm-flex">4.</span>
                    <div>
                        <h4 class="card-title">Impact <b class="text-primary">environnemental</b>.</h5>
                        <h4 class="card-title">Engagement <b class="text-primary">social</b>.</h4>
                        <h4 class="card-title mb-0">Protection de l'<b class="text-primary">écosystème</b> et du <b class="text-primary">territoire</b>.</h4>
                </div>
                </div>
            </a>
        </div>

    </section>

    <h2 class="mb-4 mb-sm-5 mt-4 mt-sm-5">Une visualisation simplifiée de vos ambitions</h2>

    <section class="d-flex align-items-center">
        <div class="illustration me-3 d-sm-flex d-none w-50">
            <%= image_tag 'illustration_home.svg', alt: 'logo de la citoyenneté économique' %>
        </div>

        <ul class="list-group ms-md-5 me-md-5 w-sm-100 ms-sm-0 me-sm-0  w-100 w-sm-50 ms-0 me-0">
            <li class="list-group-item d-flex bg-transparent border-0 align-items-center p-0 mb-3">
                <span class="bg-secondary rounded d-sm-block d-none"></span>
                <p class="m-0 ms-0 ms-sm-4">Un formulaire détaillé à destination des <b class="text-secondary">entreprises</b>.</p>
            </li>
            <li class="list-group-item d-flex bg-transparent border-0 align-items-center p-0 mb-3">
                <span class="bg-secondary rounded d-sm-block d-none"></span>
                <p class="m-0 ms-0 ms-sm-4">Une matérialisation <b class="text-secondary">claire</b> et <b class="text-secondary">schématisée</b> de vos données.</p>
            </li>
            <li class="list-group-item d-flex bg-transparent border-0 align-items-center p-0">
                <span class="bg-secondary rounded d-sm-block d-none"></span>
                <p class="m-0 ms-0 ms-sm-4">Une possibilité de <b class="text-secondary">suivre</b> vos progrès en les comparant à ceux des années précédentes.</p>
            </li>
        </ul>
    </section>

    <h2 class="mb-4 mb-sm-5 mt-4 mt-sm-5">Les sociétés coopératives : l’entreprise autrement.</h2>

    <section>

        <div class="row d-flex justify-content-center m-0">
            <div class="mw-100 d-none d-md-block"><%= image_tag 'startup.jpg', alt: 'image illustrative entreprise' %></div>
            <a class="card bg-transparent border-0 ms-0 mb-4 me-0 ms-sm-5 me-sm-5 mb-sm-5" href="https://www.les-scop.coop/les-scop" targuet="_blank">
                <div class="card-back rounded-3 bg-primary mt-2 ms-2"></div>
                <div class="card-body rounded-3 bg-white text-dark d-flex flex-column justify-content-between align-items-center">
                    <h3 class="text-primary text-center">Les SCOP</span>
                    <h4 class="card-title m-0">Sociétés coopératives et participatives.</h4>
                </div>
            </a>
            <a class="card bg-transparent border-0 ms-0 mb-4 me-0 ms-sm-5 me-sm-5 mb-sm-5" href="https://www.les-scic.coop/" targuet="_blank">
                <div class="card-back rounded-3 bg-secondary ms-2 mt-2"></div>
                <div class="card-body rounded-3 bg-white text-dark d-flex flex-column justify-content-between align-items-center">
                    <h3 class="text-secondary text-center">Les SCIC</span>
                    <h4 class="card-title m-0">Sociétés coopératives d’intérêt collectif.</h4>
                </div>
            </a>
            <a class="card bg-transparent border-0 ms-0 mb-4 me-0 me-sm-5 mb-sm-5 ms-sm-5" href="https://www.les-cae.coop/" targuet="_blank">
                <div class="card-back rounded-3 bg-primary mt-2 ms-2"></div>
                <div class="card-body rounded-3 bg-white text-dark d-flex flex-column justify-content-between align-items-center">
                    <h3 class="text-primary text-center">Les CAE</span>
                    <h4 class="card-title m-0">Coopératives d’activité et d’emploi.</h4>
                </div>
            </a>
        </div>

        <h3 class="mb-4 mb-sm-5 mt-4 mt-sm-5">« L’entreprise n’a-t-elle pas un <b class="text-secondary">rôle</b> à jouer pour le <b class="text-secondary">bien de la cité</b> ? »</h3>

        <p>Les sociétés coopératives correspondent à un modèle de gouvernance fondé sur la transparence, le partage des informations sur la stratégie et les résultats. Les objectifs sont clairement définis et s’inscrivent dans les enjeux actuels : on ne peut pas faire une transition écologique, économique et sociale, sans une implication plus forte des salariés et les entreprises.</p>

    </section>

</div>
