<header>
    <h1>Vers la citoyenneté économique</h1>
    <p class="lead">Issue du mouvement coopératif, la citoyenneté économique est née de la conviction que les entreprises doivent jouer un rôle majeur face aux défis sociétaux et environnementaux. Partage de l’information, transparence des décisions, délibération collective… autant de paramètres appliqués aux choix stratégiques de l’entreprise, à son bien-être et à celui de ses salariés, en accord avec l’intérêt général.</p>
</header>

<h2>4 catégories pour une cinquantaine d’indicateurs</h2>

