<div class="page-ml col-14 col-sm-12">
    <header class="text-center bg-secondary p-2 p-sm-5">
        <h1 class="text-white display-4">Mentions légales</h1>
    </header>
    <div class="col-sm-4 col-14 me-sm-auto ms-sm-auto mt-5 mb-5">
        <p>Le site est édité par la Confédération générale des Scop (CG Scop), Association loi 1901.</p>
        <p>
            30, rue des Epinettes 75017 Paris<br/>
            Téléphone : 01 44 85 47 00<br/>
            Mail : les-scop@scop.coop
        </p>
        <p>Directeur de la publication : M Jacques Landriot (Président).</p>
    </div>

    <section class="col-10 me-auto ms-auto">
        <h3 class="text-primary mb-4 bt-4 mt-md-5 mb-md-5">Hébergement</h3>
        <p>Le site est réalisé et hébergé par la Société coopérative et participative Insite.</p>
    </section>

    <section class="col-10 me-auto ms-auto">
        <h3 class="text-primary mb-4 bt-4 mt-md-5 mb-md-5">Objectifs et qualité des contenus</h3>
        <p>
            Ce site a pour objectif d’informer le grand public, les professionnels et les médias.<br/>
            Il présente les produits et services de la Confédération générale des Scop (CG Scop).
        </p>
        <p>
            La Confédération générale des Scop (CG Scop) s’efforce de fournir une information de qualité et vérifiée,
            toutefois si une information semble inexacte ou contient une erreur typographique, vous pouvez le
            signaler à l’administrateur du site (les-scop@scop.coop).
        </p>
    </section>

    <section class="col-10 me-auto ms-auto">
        <h3 class="text-primary mb-4 bt-4 mt-md-5 mb-md-5">Droits de propriété intellectuelle</h3>
        <p>Le site est réalisé et hébergé par la Société coopérative et participative Insite.</p>
    </section>

    <section class="col-10 me-auto ms-auto">
        <h3 class="text-primary mb-4 bt-4 mt-md-5 mb-md-5">Crédits</h3>
        <p>Le site est réalisé et hébergé par la Société coopérative et participative Insite.</p>
    </section>

    <section class="col-10 me-auto ms-auto">
        <h3 class="text-primary mb-4 bt-4 mt-md-5 mb-md-5">Liens hypertextes</h3>
        <p>Le site est réalisé et hébergé par la Société coopérative et participative Insite.</p>
    </section>

    <section class="col-10 me-auto ms-auto">
        <h3 class="text-primary mb-4 bt-4 mt-md-5 mb-md-5">Données personelles</h3>
        <p>Le site est réalisé et hébergé par la Société coopérative et participative Insite.</p>
    </section>

    <section class="col-10 me-auto ms-auto">
        <h3 class="text-primary mb-4 bt-4 mt-md-5 mb-md-5">Politique de protection des données</h3>
        <p>Chaque service en ligne limite la collecte des données personnelles au strict nécessaire (minimisation des données) et s’accompagne d’une information sur :</p>

        <ul class="list-group ms-md-5 me-md-5 w-sm-100 ms-sm-0 me-sm-0  w-100 w-sm-50 ms-0 me-0 mt-5">
            <li class="list-group-item d-flex bg-transparent border-0 align-items-start p-0 mb-3">
                <span class="bg-secondary rounded d-sm-block d-none"></span>
                <p class="ms-4">le responsable du traitement et les objectifs du recueil de ces données (finalités) ;</p>
            </li>
            <li class="list-group-item d-flex bg-transparent border-0 align-items-start p-0 mb-3">
                <span class="bg-secondary rounded d-sm-block d-none"></span>
                <p class="ms-4">la source des données (lorsque d’autres données que celles fournies via le service en ligne sont utilisées pour le traitement de votre demande) ;</p>
            </li>
            <li class="list-group-item d-flex bg-transparent border-0 align-items-start p-0 mb-3">
                <span class="bg-secondary rounded d-sm-block d-none"></span>
                <p class="ms-4">la durée de conservation des données ;</p>
            </li>
            <li class="list-group-item d-flex bg-transparent border-0 align-items-start p-0">
                <span class="bg-secondary rounded d-sm-block d-none"></span>
                <p class="ms-4">vos droits Informatique et Libertés et la façon de les exercer auprès de la Confédération générale des Scop (CG Scop).</p>
            </li>
        </ul>

        <p class="mt-5">
            Dans tous les cas,
            <br/><br/>
            la base juridique du traitement de données est le consentement de l’utilisateur qui dépose librement les données,
        </p>

        <ul class="list-group ms-md-5 me-md-5 w-sm-100 ms-sm-0 me-sm-0  w-100 w-sm-50 ms-0 me-0 mt-5">
            <li class="list-group-item d-flex bg-transparent border-0 align-items-start p-0 mb-3">
                <span class="bg-secondary rounded d-sm-block d-none"></span>
                <p class="ms-4">le caractère obligatoire ou facultatif du recueil des données pour la gestion de votre demande et le rappel des catégories de données traitées sont indiqués dans les différents formulaires,</p>
            </li>
            <li class="list-group-item d-flex bg-transparent border-0 align-items-start p-0 mb-3">
                <span class="d-sm-flex bg-secondary rounded d-sm-block d-none"></span>
                <p class="ms-4">les catégories de personnes concernées sont des entreprises ou des entrepreneurs,</p>
            </li>
            <li class="list-group-item d-flex bg-transparent border-0 align-items-start p-0 mb-3">
                <span class="bg-secondary rounded d-sm-block d-none"></span>
                <p class="ms-4">les destinataires des données sont la Confédération générale des Scop (CG Scop) et/ou les Unions régionales et/ou Fédération des Scop compétentes),</p>
            </li>
            <li class="list-group-item d-flex bg-transparent border-0 align-items-start p-0 mb-3">
                <span class="bg-secondary rounded d-sm-block d-none"></span>
                <p class="ms-4">des mesures de sécurité adaptées sont prises par l’hébergeur pour garantir l’intégrité et la confidentialité des données,</p>
            </li>
            <li class="list-group-item d-flex bg-transparent border-0 align-items-start p-0 mb-3">
                <span class="bg-secondary rounded d-sm-block d-none"></span>
                <p class="ms-4">les données personnelles, dans le cadre de la prospection commerciale, ne sont pas conservées au-delà de trois ans, à compter de la dernière interaction provenant de l’utilisateur.</p>
            </li>
            <li class="list-group-item d-flex bg-transparent border-0 align-items-start p-0 mb-3">
                <span class="bg-secondary rounded d-sm-block d-none"></span>
                <p class="ms-4">les catégories de personnes concernées sont des entreprises ou des entrepreneurs,</p>
            </li>
            <li class="list-group-item d-flex bg-transparent border-0 align-items-start p-0">
                <span class="bg-secondary rounded d-sm-block"></span>
                <p class="ms-4">les destinataires des données sont la Confédération générale des Scop (CG Scop) et/ou les Unions régionales et/ou Fédération des Scop compétentes),</p>
            </li>
        </ul>
    </section>

    <section class="col-10 me-auto ms-auto mb-5 pb-3">
        <h3 class="text-primary mb-4 bt-4 mt-md-5 mb-md-5">Cookies</h3>
        <p>
            Nous utilisons différents cookies sur le site pour améliorer l’interactivité du site et nos services.<br/>
            Lorsque vous vous connectez à notre site pour la première fois, vous avez la possibilité d’accepter ou de refuser l’utilisation de ces cookies.
        </p>
        <b>Qu’est-ce qu’un « cookie » ?</b>
        <p>
            Un « cookie » est une suite d’informations, généralement de petite taille et identifié par un nom, qui peut
            être transmis à votre navigateur par un site web sur lequel vous vous connectez. Votre navigateur web le
            conservera pendant une certaine durée, et le renverra au serveur web chaque fois que vous vous y re-
            connecterez. Les cookies ont de multiples usages : ils peuvent servir à mémoriser votre identifiant client
            auprès d’un site marchand, le contenu courant de votre panier d’achat, un identifiant permettant de
            tracer votre navigation pour des finalités statistiques ou publicitaires, etc.
        </p>
        <p>
            Le site les-scop.coop utilise les cookies uniquement dans le but d’analyser son trafic.<br/>
            En aucun cas, les données ne sont revendues à des tiers.
        </p>
    </section>
</div>
