<h1>Mentions légales</h1>

<div class="list-home big-list">
        <div class="my-5">
            <p >Le site est édité par la Confédération générale des Scop (CG Scop), Association loi 1901.</p>
            <p>
                30, rue des Epinettes 75017 Paris<br/>
                Téléphone : 01 44 85 47 00<br/>
                Mail : les-scop@scop.coop
            </p>
            <p>Directeur de la publication : M Jacques Landriot (Président).</p>
        </div>

        <section class="my-5">
            <h2>Hébergement</h2>
            <p>Le site est réalisé et hébergé par la Société coopérative et participative Insite.</p>
        </section>

        <section class="my-5">
            <h2>Objectifs et qualité des contenus</h2>
            <p>
                Ce site a pour objectif d’informer le grand public, les professionnels et les médias.<br/>
                Il présente les produits et services de la Confédération générale des Scop (CG Scop).
            </p>
            <p>
                La Confédération générale des Scop (CG Scop) s’efforce de fournir une information de qualité et vérifiée,
                toutefois si une information semble inexacte ou contient une erreur typographique, vous pouvez le
                signaler à l’administrateur du site (les-scop@scop.coop).
            </p>
        </section>

        <section class="my-5">
            <h2>Droits de propriété intellectuelle</h2>
            <p>Le site est réalisé et hébergé par la Société coopérative et participative Insite.</p>
        </section>

        <section class="my-5">
            <h2>Crédits</h2>
            <p>Le site est réalisé et hébergé par la Société coopérative et participative Insite.</p>
        </section>

        <section class="my-5">
            <h2>Liens hypertextes</h2>
            <p>Le site est réalisé et hébergé par la Société coopérative et participative Insite.</p>
        </section>

        <section class="my-5">
            <h2>Données personelles</h2>
            <p>Le site est réalisé et hébergé par la Société coopérative et participative Insite.</p>
        </section>

        <section class="my-5">
            <h2>Politique de protection des données</h2>

            <p>Chaque service en ligne limite la collecte des données personnelles au strict nécessaire (minimisation des données) et s’accompagne d’une information sur :</p>

            <ul class="my-5">
                <li>
                    <p>le responsable du traitement et les objectifs du recueil de ces données (finalités) ;</p>
                </li>
                <li>
                    <p>la source des données (lorsque d’autres données que celles fournies via le service en ligne sont utilisées pour le traitement de votre demande) ;</p>
                </li>
                <li>
                    <p>la durée de conservation des données ;</p>
                </li>
                <li class="border-0 p-0">
                    <p>vos droits Informatique et Libertés et la façon de les exercer auprès de la Confédération générale des Scop (CG Scop).</p>
                </li>
            </ul>

            <p class="mt-5">
                Dans tous les cas,
                <br/><br/>
                la base juridique du traitement de données est le consentement de l’utilisateur qui dépose librement les données,
            </p>

            <ul class="my-5">
                <li>
                    <p>le caractère obligatoire ou facultatif du recueil des données pour la gestion de votre demande et le rappel des catégories de données traitées sont indiqués dans les différents formulaires,</p>
                </li>
                <li>
                    <p>les catégories de personnes concernées sont des entreprises ou des entrepreneurs,</p>
                </li>
                <li>
                    <p>les destinataires des données sont la Confédération générale des Scop (CG Scop) et/ou les Unions régionales et/ou Fédération des Scop compétentes),</p>
                </li>
                <li>
                    <p>des mesures de sécurité adaptées sont prises par l’hébergeur pour garantir l’intégrité et la confidentialité des données,</p>
                </li>
                <li>
                    <p>les données personnelles, dans le cadre de la prospection commerciale, ne sont pas conservées au-delà de trois ans, à compter de la dernière interaction provenant de l’utilisateur.</p>
                </li>
                <li>
                    <p>les catégories de personnes concernées sont des entreprises ou des entrepreneurs,</p>
                </li>
                <li>
                    <p>les destinataires des données sont la Confédération générale des Scop (CG Scop) et/ou les Unions régionales et/ou Fédération des Scop compétentes),</p>
                </li>
            </ul>
        </section>

        <section class="my-5 mb-5 pb-3">
            <h2>Cookies</h2>
            <p>
                Nous utilisons différents cookies sur le site pour améliorer l’interactivité du site et nos services.<br/>
                Lorsque vous vous connectez à notre site pour la première fois, vous avez la possibilité d’accepter ou de refuser l’utilisation de ces cookies.
            </p>
            <b>Qu’est-ce qu’un « cookie » ?</b>
            <p>
                Un « cookie » est une suite d’informations, généralement de petite taille et identifié par un nom, qui peut
                être transmis à votre navigateur par un site web sur lequel vous vous connectez. Votre navigateur web le
                conservera pendant une certaine durée, et le renverra au serveur web chaque fois que vous vous y re-
                connecterez. Les cookies ont de multiples usages : ils peuvent servir à mémoriser votre identifiant client
                auprès d’un site marchand, le contenu courant de votre panier d’achat, un identifiant permettant de
                tracer votre navigation pour des finalités statistiques ou publicitaires, etc.
            </p>
            <p>
                Le site les-scop.coop utilise les cookies uniquement dans le but d’analyser son trafic.<br/>
                En aucun cas, les données ne sont revendues à des tiers.
            </p>
        </section>
</div>
