<div id="page-entreprise" class="d-flex">
    <% if sidebar_shown %>
        <!-- Sidebar -->
        <ul class="navbar-nav bg-light sidebar sidebar-light accordion" id="accordionSidebar">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item bg-info principal shadow">
                <a href="index.html" class="text-light">
                    <i class="fas fa-home"></i>
                    <span>Mon entreprise</span></a>
            </li>

            <!-- Nav Item - Impact 1 -->
            <li class="nav-item">
                <a class="nav-link collapsed text-dark" href="#" data-toggle="collapse" data-target="#collapseImpact1"
                    aria-expanded="true" aria-controls="collapseImpact1">
                    <span><b class="text-primary">1.</b> Partage du pouvoir et des  décisions </span>
                </a>
            </li>

            <!-- Nav Item - Impact 2 -->
            <li class="nav-item">
                <a class="nav-link collapsed text-dark" href="#" data-toggle="collapse" data-target="#collapseImpact2"
                    aria-expanded="true" aria-controls="collapseImpact2">
                    <span><b class="text-primary">2.</b> Pérennité économique et partage de la valeur créer</span>
                </a>
            </li>

            <!-- Nav Item - Impact 3 -->
            <li class="nav-item">
                <a class="nav-link collapsed text-dark" href="#" data-toggle="collapse" data-target="#collapseImpact3"
                    aria-expanded="true" aria-controls="collapseImpact3">
                    <span><b class="text-primary">3.</b> Capital humain et qualité de vie au travail</span>
                </a>
            </li>

            <!-- Nav Item - Impact 4 -->
            <li class="nav-item">
                <a class="nav-link collapsed text-dark" href="#" data-toggle="collapse" data-target="#collapseImpact4"
                    aria-expanded="true" aria-controls="collapseImpact4">
                    <span><b class="text-primary">4.</b> Impact environnemental, social et territorial</span>
                </a>
            </li>

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="bg-primary rounded-circle border-0 text-light" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <% end %>
</div>