@font-face {
  font-family: 'Alata';
  src: asset-url('Alata-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: asset-url('Open-sans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: asset-url('Open-sans-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
