@font-face {
  font-family: 'Alata';
  src: asset-url('alata-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: asset-url('open-sans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: asset-url('open-sans-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
