<div class="public-stats d-flex">
    
    <!-- Sidebar -->
    <ul class="navbar-nav bg-white sidebar sidebar-light accordion w-25" id="accordionSidebar">
        
        <!-- Nav Item - Impact 1 -->
        <li class="nav-item">
            <a class="nav-link collapsed text-dark" href="#" data-toggle="collapse" data-target="#collapseImpact1"
                aria-expanded="true" aria-controls="collapseImpact1">
                <span><b class="text-primary">1.</b> Partage du pouvoir et des  décisions </span>
            </a>
        </li>

        <!-- Nav Item - Impact 2 -->
        <li class="nav-item">
            <a class="nav-link collapsed text-dark" href="#" data-toggle="collapse" data-target="#collapseImpact2"
                aria-expanded="true" aria-controls="collapseImpact2">
                <span><b class="text-primary">2.</b> Pérennité économique et partage de la valeur créer</span>
            </a>
        </li>

        <!-- Nav Item - Impact 3 -->
        <li class="nav-item">
            <a class="nav-link collapsed text-dark" href="#" data-toggle="collapse" data-target="#collapseImpact3"
                aria-expanded="true" aria-controls="collapseImpact3">
                <span><b class="text-primary">3.</b> Capital humain et qualité de vie au travail</span>
            </a>
        </li>

        <!-- Nav Item - Impact 4 -->
        <li class="nav-item">
            <a class="nav-link collapsed text-dark" href="#" data-toggle="collapse" data-target="#collapseImpact4"
                aria-expanded="true" aria-controls="collapseImpact4">
                <span><b class="text-primary">4.</b> Impact environnemental, social et territorial</span>
            </a>
        </li>

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="bg-primary rounded-circle border-0 text-light" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <div class="puclic-stats-body">
        <header>
            <h1>Vue globale de toutes les entreprises</h1>
        </header>

        <div class="d-flex flex-sm-row align-items-center mt-0 mt-sm-5">
            <label for="alpha" class="mr-3 lead text-nowrap mb-0">Afficher une année précise :</label>
            <select class="custom-select custom-select-s mr-3 mb-0 w-25">
                <option value="2022" selected>2022</option>
                <option value="2021">2021</option>
            </select>
        </div>
    </div>

    
</div>