<div class="public-stats">
        <header class="container-fluid">
            <h1 class="h2 bg-secondary m-0 text-light text-center mt-5 py-2">1. Partage du pouvoir et des décisions</h1>
        </header>
    <div class="puclic-stats-body me-0 ms-0 me-sm-5 ms-sm-5 p-sm-5 mt-5 pt-5 pt-sm-0">
 <!-- IMPACT 3 -->

        <h3 id="impact3" class="mt-3 mt-sm-5">Capital humain et qualité de vie au travail</h3>
        <h4 class="mt-3 mb-3 mt-sm-5 mb-sm-5"><b class="text-primary">I.</b> <u class="text-secondary text-decoration-none">Qualité de vie</u> au travail / <u class="text-secondary text-decoration-none">épanouissement</u> des salariés</h4>
        <h4 class="mt-3 mb-3 mt-sm-5 mb-sm-5">
        <b class="text-primary">II.</b>  Développement des
        <u class="text-secondary text-decoration-none">compétences individuelles et collectives</u>
            <br/>
            <u class="text-secondary text-decoration-none">Emancipation</u> des salariés
            </h4>

</div>