<div class="public-stats">
    <header class="container-fluid">
        <h1 class="h2 bg-secondary m-0 text-light text-center mt-5 py-2">1. Partage du pouvoir et des décisions</h1>
    </header>
    <div class="puclic-stats-body me-0 ms-0 me-sm-5 ms-sm-5 p-sm-5 mt-5 pt-5 pt-sm-0">

        <!-- IMPACT 4 -->

        <h3 id="impact4" class="mt-3 mt-sm-5">Impact environnemental, social et territorial</h3>

        <h4 class="mt-3 mb-3 mt-sm-5 mb-sm-5"><b class="text-primary">I.</b> Impact <u class="text-secondary text-decoration-none">environnemental</u></h4>
        <h4 class="mt-3 mb-3 mt-sm-5 mb-sm-5"><b class="text-primary">II.</b> Impact <u class="text-secondary text-decoration-none">social</u></h4>
        <h4 class="mt-3 mb-3 mt-sm-5 mb-sm-5"><b class="text-primary">III.</b> <u class="text-secondary text-decoration-none">Engagement</u> en faveur de <u class="text-secondary text-decoration-none">l'écosystème</u> et du <u class="text-secondary text-decoration-none">territoire</u></h4>
    </div>
</div>