.card-cont {
  &:first-child .card, &:nth-child(3) .card{box-shadow: 8px 8px 0px $secondary;}
  .card {
    min-height: 200px;
    box-shadow: 8px 8px 0px $primary;
    transition: .3s ease;
    .card-body {
      span {
        font-size: 4rem;
        position: absolute;
        top: -2.5rem;
        right: 0;
        font-family: 'Alata';
        font-weight: bold;
      }
    }
    &:hover {
      box-shadow: none;
      transition: .3s ease;
    }
  }
}
