.view {
  .row > div {
    margin-bottom: 2rem;
  }
}
.public{
  .row > div > div {
    height: 100%;
    overflow: hidden;
    div:nth-child(2) {height: 100%;}
  }
}
.estim {
  .form-group {
    display:flex;
    input {
      max-height: 38px;
      max-width: 100px;
      margin-left: 100px;
    }
  }
}
