// SB Admin 2 dependencies
@import "https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i";
@import "startbootstrap-sb-admin-2/css/sb-admin-2.min";
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Open+Sans:wght@300;400&display=swap');

/*-------- VARIABLES --------*/

/*Couleurs*/

$blue : #2E3092;
$rose: #EB225A;
$greyCG: #C7C2C3;
$blackCG: #231F20;
$white: #EEF0F2;
$lightBlue: #007CAA;


/*Font*/
$fontTitre: 'Alata';
$fontText: 'Open Sans';

$fontH1 : 80px 'Alata';
$fontH2 : 50px 'Alata';
$fontText : 20px 'Open Sans';
$fontMenu : 16px 'Open Sans';

.navbar-nav {
    color: $blackCG;

    .nav-item-home {
        width: max-content;
        background-color: $lightBlue;
        border-radius: 8px;

        a {
            color: $white;
        }
    }
    .nav-item {
        
        a {
            position:relative;
            display:flex !important;
            align-items:center;

            &::after {
                position:absolute;
                right: 0;
            }
            b {
                color: $rose;
                font-family: $fontTitre;
                font-size: 40px;
            }
            span {
                font-family: 'Alata';
                font-size: 18px;
                color: $blackCG;
            }
        }
    }

}
