<% if flash[:notice].present? %>
  <p class="p_notice alert alert-success text-center col-8 ms-auto me-auto"><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert].present? %>
  <p class="p_notice alert alert-danger text-center col-8 ms-auto me-auto"><%= flash[:alert] %></p>
<% end %>
