<footer class="bg-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <p class="mb-5">
          <a href="https://www.les-scop.coop/les-scop" targuet="_blank" title="Les SCOP" class="mt-3">
            <%= image_tag 'lesscop.png', alt: 'logo des SCOP' %>
          </a>
        </p>
        <p class="small">
          <b class="text-primary">
            Copyleft <span class="copyleft">&copy;</span>
          </b>
          Samuel ABADIE, Théo DESCHAMPS, Samuel LABAGNÈRE, Maxime LASSERRE, Yani MADEBOS, Sarah MARGUERETTAZ, Laurent MALUCELLI, Thomas MARILLEAU, Maxime REBIERE, Mathéo REULIER, Olivia SIMONET
        </p>
      </div>
      <div class="col-lg-8 text-end">
        <p class="mb-4">
          <a href="/">
            <%= image_tag 'titre.svg', alt: 'logo de la citoyenneté économique' %>
          </a>
        </p>
        <ul class="navbar-nav small mb-4">
          <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" href="/mentions-legales">
              Mentions légales
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" href="/cgu">
              Conditions générales d'utilisation
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" href="/mentions-legales">
              Politique de confidentialité
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
